/* specific divs */

body {
	background-color: #E8F2F6;
	font-family: Arial;
	}
table
{
	border-collapse:collapse;
	text-align: center;
	font-size: 12px;
	margin: auto;
}

table, td, th
{
	border:0px solid black;
	border-left:solid 5px transparent;
}

input{
	width: 165px;
	height: 20px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #0095cd;
}

.error
{
	border-color:red;
	border-style:solid;
	border-width:1px;
}


select{
	border: 1px solid #0095cd;
	margin: 5px;
}

h3{
	margin:0px 0px 10px 0px;
}

/* Loading div */
#loading {
	text-align: center;
}


/* Language bar */
#header {
	height:35px;
	padding: 5px;
	text-align:right;
}

/* Logo */
#logo{
	margin: -60px 0px 0px 0px;
	color: #667486;
	text-align: center;
}
	
/* Footer style */
#footer {
	clear:both;
	text-align: center;
	clear: both;
	color: #667486;
}

/* Caja contenedor */
.container {
	margin-left: auto;
	margin-right: auto;
	border-radius:15px;
	width: 810px;
	padding:20px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	overflow: auto;
}

.thinner{
	width:660px;
}
#menu{
	word-spacing:15px;
	text-align:center;
}
/* pagina principal */
#left_search{
	width:300px;
	height:328px;
	float:left;
}

#picture { 
	float:right;
	margin: 0px 00px 0px 20px;
}

#picture  img{ 
	vertical-align: bottom;
}

/* align forms */

#search_params label {
width: 100px;
float: left;
text-align: right;
margin-right: -5%;
display: block
}

#passengers_ages label {
width: 230px;
float: left;
text-align: right;
margin-right: -5%;
display: block
}

.input_div label {
width: 270px;
float: left;
text-align: right;
margin-right: -29%;
display: block
}

#passengers_ages select{
	margin: 0px 0px 10px 0px;
}

#select_div label{
width: 270px;
float: left;
text-align: right;
margin-right: -80%;
display: block
}
#select_div select{
	margin: 0px 45px 10px 0px;
}
/* Posicionamiento de cajas  particulares*/
#search {
	width: 170px;
	float:left;
}

#main{
	margin: 0px 0px 0px 20px;
	width: 590px;
	float: left;
}

/* resultados */
#order_criteria{
	text-align: right;
	padding: 1px 15px 1px 15px;
	background-color: #B9EAFD;
	border-radius: 10px;
}

#search_error{
	text-align: center;
	color: #0095cd;
}

/* Caja interna */
.inner_box {
	text-align: center;
	padding: 15px;
	background-color: #B9EAFD;
	border-radius: 10px;
}

.inner_box  h3{
	color: #0095cd;
}

/* contenedor de caja de resultados */
#result{
	padding: 0px 7px 0px 0px;
	overflow: auto;
}

#fix{
	overflow: auto;
}

/* caja de resultados */
#price{
	padding: 50px 0px 0px 0px;
	width:140px;
	border-radius: 10px;
	color: #d9eef7;
	background-color: #0095cd;
	text-align: center;
	float: left;
	height:180px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

#comment_col{
	width:55%;
	vertical-align: top;
}
#price a{
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	color: #d9eef7;
	text-decoration: none;
	font-size: 12px;
}

#flight_info{
	padding: 0px 0px 0px 10px;
	float: auto;
}

a{
	font-size: 12px;
	color: #0095cd;
	text-decoration: none;
}
	
/* Botones */


.button {
	word-spacing:2px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.button:active {
	position: relative;
	top: 1px;
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}