/* specific divs */

body {
	background-color: #E8F2F6;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
table
{
border-collapse:collapse;
}

table, td, th
{
border:0px solid black;
}

/* Language bar */
#header {
	height:35px;
	padding: 5px;
	text-align:right;
	}

/* Logo */
#logo{
	color: #4c4c4c;
	text-align: center;
	}
	
/* Footer style */
#footer {
	clear:both;
	text-align: center;
	clear: both;
	color: #667486;
	}

/* Posicionamiento de cajas  particulares*/
#search {
	width: 200px;
	float:left;
}

#main{
	width: 400px;
	float: right;
}

/* Caja contenedor */
#container {
	margin-left: auto ;
	margin-right: auto ;
	border-radius:15px;
	width: 640px;
	padding:5px 20px 20px 20px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
	
/* Caja interna */
.inner_box {
	text-align: center;	
	padding: 5px 5px 20px 5px;
	background-color: #B9EAFD;
	border-radius: 10px;
}

.inner_box  h3{
	color: #0095cd;
}

/* caja de resultados */
#price{
	float: left;
	width: 100px;
}

.table_data{
	text-align: left;
	font-size: 12px;
	float: right;
	width: 300px;
}

.table_data td
{
text-align:center;
}
	
/* Botones */
.button {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
    
.button:active {
	position: relative;
	top: 1px;
}

/* Color for buttons */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}