/* specific divs */

body {
	background-color: #E8F2F6;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

p {
	width:auto;
	outline: 1px solid black;
	}

.result {
	height: 150px;
	border-radius:5px;
	border-style: groove;
	margin: 0 25px;
	}
/* Language bar */
#header {
	height:35px;
	padding: 5px;
	text-align:right;
	}

/* Logo */
#logo{
	text-align: center;
	}
	
/* Footer style */
#footer {
	text-align: center;
	clear: both;
	color: #667486;
	}
	
/* Caja contenedor */
#container {
	margin-left: auto ;
	margin-right: auto ;
	border-radius:15px;
	width: 640px;
	padding:5px 20px 20px 20px;
	background-color: white;
}
	
/* Caja interna */
.inner_box {
	text-align: center;	
	padding: 10px;
	background-color: #B9EAFD;
	border-radius: 10px;
}
	
.inner_box  h3{
	color: #54657A;
}

/* Botones */
.button {
	padding: 5px;
	background-color: #E6E6E6;
	color: #666666;
	border-style: groove;
	border-radius: 7px;
	text-decoration: none; 
    }
    
.button:link,
.button:visited {
	border-top: 1px solid #E6E6E6;
	border-bottom: 2px solid #666666;
	border-left: 1px solid #E6E6E6;
	border-right: 2px solid #666666;
	}
	
.enlaceboton:hover {
	border-bottom: 1px solid #E6E6E6;
	border-top: 2px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-left: 2px solid #666666;
	}
